#ignore .exe, build and debug files
*.exe
*.obj
*.pdb
*.jpg
*.jpeg
*.o
*.json
*.stackdump
GUI.tar

#ignore this paths
drill_exer/
FLTK/
ch3/build

#ignore copyright content
*/*/README.txt
*/e.g.s/
std_lib_facilities.cpp

# temporary files
calculator.h
calculator_exercises.h
computation.h
err.h
exercises_write_program.h
log.sh
main.cpp
objects_types_values.h

